@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); 
*{
    margin: 0;
    box-sizing: border-box; /* Thus is reset for removing unneccery gaps in style */
    padding: 0;
    
}

h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-height: 75vh;
    margin: 43px 0px;
}

.container h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    margin: 29px;

}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid #7dc79c;
    border-radius: 10px;
    outline: none;
    
}
.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    background: #2b45e2de;
    cursor: pointer;
    outline: none;
    margin: 30px;
}